@Html.ValidationSummary()
<form action=@ViewBag.Action method="POST">
    <input name="word.Id" type="number" hidden value=@ViewBag.word.Id />
    <input name="word.Points" type="number" hidden value=@ViewBag.word.Points />
    <label>Rus: </label>
    <input name="word.Rus" type="text" value="@ViewBag.word.Rus" />
    <label>Eng: </label>
    <input name="word.Eng" type="text" value="@ViewBag.word.Eng" />
    <button type="submit">Submit</button>
</form>
