@{
    ViewData["Title"] = "Learning";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="statistic"></div>
        </div>
    </div>
</div>
<br/>
<div class="text-center task-wrapper">
    <div class="card">
        <h3 class="display-5" id="task-word" onclick="window.taskHandler.help()"></h3>
        <div>
            <button onclick="window.taskHandler.sendAnswer(true)" class="btn btn-success">
                Remember
            </button>
            <button onclick="window.taskHandler.sendAnswer(false)" class="btn btn-danger">
                Forgot
            </button>
        </div>
    </div>
</div>
